{% extends "headerFootertemplate.html" %}

{% block content %}

  {% if name %}
    <div class="row">
      <div class="card col-md">
        <div class="card-body">
          <h5 class="card-title text-center">{{list[0]['name']}}</h5>
          <p class="card-text">
            <ul class="list-group list-group-flush text-left">
              <li class="list-group-item"><b>Form: </b> {{ list[0]['form']}}</li>
              <li class="list-group-item"><b>Description: </b> {{ list[0]['description']}}</li>
              <li class="list-group-item"><b>Interpretation: </b> {{ list[0]['description']}}</li>
              <li class="list-group-item"><b>Altitude: </b> {{ list[0]['altitude-min']}} - {{list[0]['altitude-max']}} km</li>
              <li class="list-group-item"><b>Precipitation: </b>{{list[0]['precipitation']}}</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
    {% else %}
      {% if type %}
        <h1 class="text-white text-center">List of clouds by their {{ filter }} : {{type}}</h1>
      {% else %}
        <h1 class="text-white text-center">List of all clouds</h1>
      {% endif %}
      {% for obj in list %}
        {% if loop.cycle(true, false, false)%}
        <div class="row justify-content-md-center">
        {% endif %}
        <div class="card col-md" style="margin: 8px">
          <div class="card-body">
            <h5 class="card-title text-center"><a href="/cloud/{{obj['name']}}">{{obj['name']}}</a></h5>
            <p class="card-text">
              <ul class="list-group list-group-flush text-left">
                <li class="list-group-item"><b>Form: </b>{{obj['form']}}</li>
                <li class="list-group-item"><b>Description: </b>{{obj['description']}}</li>
                <li class="list-group-item"><b>Interpretation: </b>{{obj['interpretation']}}</li>
                <li class="list-group-item"><b>Altitude: </b>{{obj['altitude-min']}} - {{obj['altitude-max']}} km</li>
                <li class="list-group-item"><b>Precipitation: </b>{{obj['precipitation']}}</li>
            </ul>
            </p>
          </div>
        </div>
        {% if loop.cycle(false, false, true)%}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
{% endblock %}
